body {
  background: #c7dde0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
a {
  color: #333;
  text-decoration: none;
}

a.active {
  color: #c7dde0;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
.social-link {
  color: #197f8e;
  text-decoration: none;
}
h1 {
  text-transform: capitalize;
  color: #7c7c7c;
  font-weight: 400;
}
li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

li span {
  color: #197f8e;
  font-weight: 500;
}

.temperature {
  color: #333;
  font-size: 64px;
  font-weight: 400;
}

.search-button {
  background-color: #197f8e;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}

.search-button:hover {
  color: #fff !important;
  background-color: #197f8e;
  text-decoration: none;
}

.search-input {
  background: #c7dde0;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);

  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}
footer {
  text-align: center;
  font-size: 18px;
  margin: 30px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
